.matriculese-body{
   background-size: 200%;
}

.matriculese-logo{
   text-decoration: none;
   color: var(--blue);
}

.disabled{
   color: transparent;
   background-image: linear-gradient(45deg, var(--green), var(--blue), var(--green), var(--blue), var(--green));
   -webkit-background-clip: text;
   background-clip: text;

   box-shadow: inset 50px 50px 20px  var(--black-transparent);
}

.matriculese--title{
   margin-top: 2.25rem;
}

.matriculese-main--form{
   margin: 1.5rem auto 1rem;
   padding: 2em;
   width: min(85%, 400px);
   position: relative;
}

.border{
   position: absolute;
   width: 65%;
   height: 55%;
   z-index: -1;
}

.top-left-corner{
   top: 0;
   left: 0;
   border-top: 1px solid var(--white);
   border-left: 1px solid var(--white);
}

.bottom-right-corner{
   bottom: 0;
   right: 0;
   border-bottom: 1px solid var(--white);
   border-right: 1px solid var(--white);
}

.matriculese-main--form--label{
   color: var(--white);   
}

.center{
   display: block;
   text-align: center;
}

.matriculese-main--form--write{
   display: block;
   margin: .75em 0 0.25em;
   padding: 1.25em;
   width: 100%;

   border-radius: 2em;
   border: none;
   background-color: var(--black-transparent);
   color: var(--white);
}

.matriculese-main--form--write::placeholder{
   color: var(--white-transparent);
}

.matriculese-main--form--write:focus-visible{
   border: 1px solid var(--white-transparent);
   outline: none;
}

.error-message{
   color: var(--white);
   font-size: var(--size-sm);
   display: inline-block;
   margin-bottom: 1.75em;
   line-height: 1.4;
   text-align: center;
   width: 100%;
}

.password-container{
   position: relative;
}

.icon{  
   background-image: url("../../img/eye.svg");
   background-size: contain;
   background-repeat: no-repeat;
   width: 20px;
   height: 20px;
   display: inline-block;
   position: absolute;
   top: 14px;
   right: 24px;
}

.show-password{
   background-image: url("../../img/eye-off.svg");
}

.check-section{
   display: flex;
   align-items: center;
}

.matriculese-main--form--check{
   accent-color: var(--black-transparent);
   margin: 0;
      
   --check-size: 1.25rem;
   height: var(--check-size);
   width: var(--check-size);
   flex-shrink: 0;
}

.agree{
   font-size: var(--size-sm);
   padding: 1em .75em;
}

.matriculese-main--form--button{
   padding: 1em;
   display: block;
   margin: 1rem auto 0;
   width: min(70%, 350px);

   border-radius: 2em;
   border: 1px solid var(--white);
   color: var(--white);
   font-weight: 700;
   font-size: 1.125rem;

   background-image: linear-gradient(45deg, var(--green), var(--blue), var(--green), var(--blue), var(--green));
   background-size: 400%;
   animation-name: bg-animation;
   animation-duration: 13s;
   animation-iteration-count: infinite;
}

.final-message{
   color: var(--white);
   text-align: center;
}

@media screen and (min-width: 800px){
   .matriculese-main--form{
      padding: 3.25em;
      width: 60%;
   }

   .matriculese-main--form--button{
      width: 40%;
   }
}