@import url("reset.css");
@import url("01header.css");
@import url("matriculese/00form.css");

:root{
   --font: 'Fira Code', monospace;

   --size-sm: 0.875rem;
   --size-md: 1.5rem;
   --size-lg: 2.25rem;

   --green: #0B360B;
   --blue: #0B0B36;
   --black: #000F0F;
   --black-transparent: #000F0F66;
   --white: #E6FFFF;
   --white-transparent: #E6FFFF66;
}

*{
   box-sizing: border-box;   
}

html{
   font-family: var(--font);
}

body{
   background-image: linear-gradient(-45deg, var(--green) -50%, var(--blue) 150%);
   background-size: 400%;
   min-height: 200vh;
}

::-webkit-scrollbar{
   width: 18px;
}

::-webkit-scrollbar-thumb{
   background-image: linear-gradient(-45deg, var(--green) -50%, var(--blue) 150%);
   background-size: 400%;
   border-radius: 18px;
}

::-webkit-scrollbar-track{
   background-color: var(--black);
}

::selection{
   color: var(--black);
   background: var(--white-transparent);
   -webkit-background-clip: unset;
   background-clip: unset;
}

.header{
   background-image: url("../img/Novo\ ProjetoMulher.png"), url("../img/matrix.png"), url("../img/Novo\ Projeto\ \(2\).jpg");
   background-size: 175%, cover, cover;
   background-repeat: no-repeat, no-repeat, no-repeat;
   background-position: bottom, center, center;
   height: 100vh;
   box-shadow: inset 0 -10px 10px 0 var(--black);   
}

@media screen and (min-width: 800px) {
   .header{
      background-image: url("../img/Novo\ ProjetoMulher.png"), url("../img/matrix.png"), url("../img/Novo\ Projeto\ \(2\).jpg");
      background-size: cover, cover, cover;
      background-repeat: no-repeat, no-repeat, no-repeat;
      height: 100vh;
   }   
}