.header--top{
   background-color: var(--white-transparent);
   backdrop-filter: blur(3px);
   -webkit-backdrop-filter: blur(3px);
   height: 11vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: .75em 1em;
}

.header--top *{
   color: var(--white);
}

.header--top--text{
   font-weight: 600;
   font-size: var(--size-md);
   color: var(--blue);
}

.highlight{
   color: var(--green);
   font-size: var(--size-lg);
   font-weight: 700;
}

.header--top--text::before{
   content: "<";   
   font-size: var(--size-lg);
}

.header--top--text::after{
   content: ">";
   font-size: var(--size-lg);
}

.header--top--button{
   text-decoration: none;
   padding: .75em 1em;
   display: block;
   border-radius: 2em;
   font-size: var(--size-sm);
   
   background-image: linear-gradient(45deg, var(--green), var(--blue), var(--green), var(--blue), var(--green));
   background-size: 400%;
   animation-name: bg-animation;
   animation-duration: 13s;
   animation-iteration-count: infinite;
}

@keyframes bg-animation{
  0% {background-position:left}
  50% {background-position:right}
  100%{background-position:left}
}

.header--text{
   background-image: linear-gradient(-45deg, var(--black) -50%, var(--white) 115%);
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   font-weight: 700;   
   text-align: center;
   margin: 1rem 1.5rem 0;
   line-height: calc(4vw + 1rem);

}

.header--title{
   margin-top: 1rem;
   margin-bottom: 0.5rem;
   font-size: calc(4vw + 1rem);
}

.header--subtitle{
   font-size: calc(4vw + 0.5rem);
}